:root {
  --color-background: #f5f5f5;
  --color-primary: #6a1b9a;
  --color-secondary: #ab47bc;
  --color-accent: #8e24aa;
  --color-btn-primary: #fa7777;
  --color-btn-primary-hover: #f76767;
  --color-headings: #fff;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-borders: #e0e0e0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  font-size: 1.5rem;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: var(--color-headings);
  font-size: 2.4rem;
  font-weight: 600;
}

/* Icons */

.icon-container {
  /* background-color: #fff; */
  display: inline-flex;
  /* border-radius: 50%; */
  /* padding: 0.3rem; */
  /* box-shadow: 0 0 2px 2px #e9e5e5; */
}

.icon--edit {
  color: var(--color-primary);
}

.icon--delete {
  color: #bb271a;
}

.icon--done {
  color: rgb(106, 170, 106);
}

/* Inputs */
.input--todo {
  padding: 2rem;
  border: 0;
  border-bottom: 3px solid var(--color-accent);
  outline: 0;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  width: 90%;
  text-align: center;
}

.input--edit {
  border: 0;

  outline: 0;
  font-size: 1.5rem;
  background: #f6eaf8;
  width: 100%;
}

/* Buttons */
.btn {
  padding: 1rem 5rem;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  color: var(--color-headings);
  letter-spacing: 0.5px;
  cursor: pointer;
  outline: none;
}

.btn-icon {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  background-color: var(--color-btn-primary);
}

.btn-primary:hover {
  background: var(--color-btn-primary-hover);
}

/* Card */

.card {
  /* height: 40rem; */
  background: #f8e8f6;
  border-radius: 20px;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vh;
  margin-top: 1rem;
}

.card__heading {
  /* width: 100%; */
  height: 8rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );
}

.card__content {
  padding: 1rem;
}

/* Block */

.block {
  background: #fff;
  /* padding: 3rem 2rem; */
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 2px 2px var(--color-borders);
}
.block--input {
  transform: translateY(-3rem);
}

.block--list {
  min-height: 40rem;
}

/* List */

.list {
  width: 100%;
  list-style: none;
  padding: 0;
  letter-spacing: 0.5px;
}

.list__item {
  padding: 1.5rem;
  border-bottom: 1px solid var(--color-borders);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .card__content {
    padding: 2rem;
  }
}
