<ul class="list">
  <li class="list__item">
    Clean Appartment
    <div class="icon-container">
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--done"
          >check_circle</span
        >
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--edit">edit</span>
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--delete">delete</span>
      </button>
    </div>
  </li>
  <li class="list__item">
    Do laundry
    <div class="icon-container">
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--done"
          >check_circle</span
        >
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--edit">edit</span>
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--delete">delete</span>
      </button>
    </div>
  </li>
  <li class="list__item">
    Walk the dog
    <div class="icon-container">
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--done"
          >check_circle</span
        >
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--edit">edit</span>
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--delete">delete</span>
      </button>
    </div>
  </li>
  <li class="list__item">
    Kiss Eugene
    <div class="icon-container">
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--done"
          >check_circle</span
        >
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--edit">edit</span>
      </button>
      <button class="btn-icon">
        <span class="material-symbols-outlined icon icon--delete">delete</span>
      </button>
    </div>
  </li>
</ul>
